$logo-color: #404040;
$manu-background: #1d1d1b;
$manu-color: #0acdb2;
$jobs-background:#EEEEEE;//#777777;
$jobs-color: #393E46; //#b5e925;
$jobs-h1-color: #393E46; //#f09b2d;
$text-color: #393E46;
$login-border-color:#00BDA5;
